
<title>Avatar Database Home Page</title>
<link rel="stylesheet" href="/vendors/bootstrap-4.0.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<h3 id="title">Avatar Database Home Page</h3>
<div class="container" id="bendGallery">
    <div class="row justify-content-center">
        <div class="col-sm-3">
        	<img src="/images/waterbending.png" class="img-thumbnail">
        </div>
        <div class="col-sm-3">
        	<img src="/images/earthbending.png" class="img-thumbnail"> 
        </div>
        <div class="col-sm-3">
        	<img src="/images/firebending.png" class="img-thumbnail"> 
        </div>
        <div class="col-sm-3">
        	<img src="/images/airbending.png" class="img-thumbnail">  
        </div>
    </div>
 </div>
 <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h5>Menu of site features</h5>
            <h5>Basic operations </h5>
            <ul>
            	<li><a href="/characters">List, Add, Update and Delete Characters (Change 1-N relationships for membership, nationality)</a></li>
            	<li><a href="/nations">List, Add and Delete Nations</a></li>
            	<li><a href="/bending">List, Add and Delete Bending</a></li>
            	<li><a href="/orgs">List, Add and Delete Organizations</a></li>
            	<li><a href="/cities">List, Add and Delete Cities</a></li>

            </ul>
            <h5>Advanced operations </h5>
            <ul>
            	<li><a href="/benders">List, Add, Delete and Update Bending of a Character (change N-M relationships)</a></li>
            	<li><a href="/filterchar">Filter Characters by Nationality and Age</a></li>
            </ul>
        </div>
    </div>
</div>
